meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='author', content='')
link(rel='icon', href='assets/img/favicon.ico')
title Kumo - Harness the power of online content
// Bootstrap core CSS
link(href='assets/css/bootstrap.css', rel='stylesheet')
// Custom styles for this template
link(href='assets/css/ionicons.min.css', rel='stylesheet')
link(href='assets/css/custom-animations.css', rel='stylesheet')
link(href='assets/css/style.css', rel='stylesheet')